{% extends "layout.html" %}
{% from "formhelper.html" import render_field, render_button %}
{% block usuario %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Login</legend>
            {{ render_field(form.email) }}
            {{ render_field(form.senha) }}
            <div class="form-check">
                {{ form.lembrar(class="form-check-input") }}
                {{ form.lembrar.label(class="form-check-label") }}
            </div>
        </fieldset>
        <div class="form-group">
            {{ render_button(form.submit) }}
            <small class="text-muted ml-2">
                <a href="{{ url_for('usuarios.redefinir_senha') }}">Esqueceu sua senha?</a>
            </small>
        </div>
    </form>
</div>
<div class="border-top pt-2 pb-4">
    <small class="text-muted text-align-center">
        Ainda não tem uma conta? <a class="ml-2" href="{{ url_for('usuarios.registrar') }}">Registre-se</a>
    </small>
</div>
{% endblock usuario %}
