
{% extends "layout.html" %}
{% from "formhelper.html" import render_field, render_button %}
{% block conteudo %}
<div class="content-section">
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Novo Usuário</legend>
            {{ render_field(form.admin) }}
            {{ render_field(form.nome) }}
            {{ render_field(form.identificacao) }}
            {{ render_field(form.email) }}
            {{ render_field(form.senha) }}
            {{ render_field(form.confirmar_senha) }}
            <div class="form-group">
                {{ form.imagem.label() }}
                {{ form.imagem(class="form-control-file") }}
                {% if form.imagem.errors %}
                    {% for error in form.imagem.errors %}
                        <span class="text-danger">{{ error }}</span></br>
                    {% endfor %}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ render_button(form.submit) }}
            <a class="btn btn-outline-secondary" href="{{ url_for('principal.inicio', tab=5) }}"><i class="fas fa-arrow-left"></i> Voltar</a>
        </div>
    </form>
</div>
<div class="border-top pt-2 pb-4 text-align-center">
    <small class="text-muted">
        Já possui uma conta? <a class="ml-2" href="{{ url_for('usuarios.login') }}">Login</a>
    </small>
</div>
{% endblock conteudo %}
