
{% extends "layout.html" %}
{% from "formhelper.html" import render_field, render_button %}
{% block conteudo %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Redefinir Senha</legend>
            {{ render_field(form.senha) }}
            {{ render_field(form.confirmar_senha) }}
        </fieldset>
        <div class="form-group">
            {{ render_button(form.submit) }}
        </div>
    </form>
</div>
{% endblock conteudo %}
