{% extends "layout.html" %}
{% from "formhelper.html" import render_field, render_button %}
{% block conteudo %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Registre-se</legend>
            {{ render_field(form.nome) }}
            {{ render_field(form.identificacao) }}
            {{ render_field(form.email) }}
            {{ render_field(form.senha) }}
            {{ render_field(form.confirmar_senha) }}
        </fieldset>
        <div class="form-group">
            {{ render_button(form.submit) }}
        </div>
    </form>
</div>
<div class="border-top pt-2 pb-4 text-align-center">
    <small class="text-muted">
        Já possui uma conta? <a class="ml-2" href="{{ url_for('usuarios.login') }}">Login</a>
    </small>
</div>
{% endblock conteudo %}
