<!-- Página para visualizar um equipamento com mais detalhes -->
{% extends "layout.html" %}
{% block conteudo %}
<div class="card border-primary mb-3">
    <h4 class="card-header text-primary border-primary">
        <img class="rounded-circle article-img" src="{{ url_for('static', filename='img_perfil/' + usuario.imagem_perfil) }}">
        <strong>{{ usuario.nome }}</strong>
    </h4>
    <div class="card-body">
        <p class="card-text"><strong>Identificação:</strong> {{ usuario.identificacao }}</p> 
        <p class="card-text"><strong>Email:</strong> {{ usuario.email }}</p>
        <p class="card-text"><strong>Tipo:</strong> {{ usuario.tipo.value }}</p>   
    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col-md-6">
                <a class=""><strong>Data de Cadastro:</strong> {{ usuario.data_cadastro.strftime('%d/%m/%Y %H:%M:%S') }}</a>
            </div>
            <div class="col-md-6">
                {% if usuario.data_atualizacao %}
                <a class=""><strong>Última Atualização:</strong> {{ usuario.data_atualizacao.strftime('%d/%m/%Y %H:%M:%S') }}</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<h5 class="card-text text-center"><strong>Últimas Solicitações:</strong></h5>
<div class="card-group">
{% for solicitacao in solicitacoes %}
<div class="card border-primary">
    <div class="card-body">
        <div class="article-metadata mb-3">
            <a class="mr-2" href="{{ url_for('solicitacoes.solicitacao', solicitacao_id=solicitacao.id )}}"><strong>Solicitação #{{ solicitacao.id }}</strong></a>
        </div>
        {% if solicitacao.tipo == 'EQUIPAMENTO' %}
        <p class="card-text"><strong>Tipo:</strong> Equipamento</p>
        {% elif solicitacao.tipo == 'SALA' %}
        <p class="card-text"><strong>Tipo:</strong> Sala</p>
        {% endif %}
        <p class="card-text"><strong>Status:</strong> {{ solicitacao.status.value }}</p>
    </div>
</div>
{% endfor %}
</div>
{% endblock conteudo %}