<!-- Página para visualizar um equipamento com mais detalhes -->
{% extends "layout.html" %}
{% block conteudo %}
{% if equipamento.status.name != 'PENDENTE' %}
<div class="alert alert-info" role="alert" id="alert-message">
    <button type="button" class="close" data-dismiss="alert">
    <span>&times;</span>
    </button>
    {% if equipamento.status.name == 'ABERTO' %}
    Este equipamento está disponível para ser solicitado.
    {% elif equipamento.status.name == 'CONFIRMADO' %}
    Este equipamento está confirmado para uma solicitação.
    {% elif equipamento.status.name == 'EMUSO' %}
    Este equipamento está em uso.
    {% elif equipamento.status.name == 'DESABILITADO' or equipamento.status.name == 'EMMANUTENCAO' %}
    Este equipamento está indisponível para ser solicitado.
    {% endif %}
</div>
{% else %}
<div class="alert alert-danger" role="alert" id="alert-message">
    <button type="button" class="close" data-dismiss="alert">
    <span>&times;</span>
    </button>
    Este equipamento está em uma solicitação com a devolução atrasada.
</div>
{% endif %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata mb-3">
            <a class="mr-2" href="#"><strong>Status:</strong> {{ equipamento.status.value }}</a>
            <a class="mr-2" href="#"><strong>Tipo:</strong> {{ equipamento.tipo_eqp.nome }}</a>
            <small class="text-muted"><strong>{{ equipamento.data_cadastro.strftime('%d/%m/%Y %H:%M:%S') }}</strong></small>
        </div>
        <h5 class="article-title"><strong>Patrimônio:</strong> {{ equipamento.patrimonio }}</h5>
        <h5 class="article-content"><strong>Descrição:</strong> {{ equipamento.descricao }}</h5>
        {% if equipamento.motivo_indisponibilidade %}
            <h5 class="article-content pt-2"><strong>Motivo da Indisponibilidade:</strong> {{ equipamento.motivo_indisponibilidade }}</h5>
        {% endif %}
    </div>
</article>
<article class="media content-section">
    <div class="media-body">
        <h4 class="article-content text-center"><strong>Últimas Solicitações</strong></h4>
    </div>
</article>
{% for solicitacao in solicitacoes %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata mb-3">
            <a class="mr-2" href="{{ url_for('solicitacoes.solicitacao', solicitacao_id=solicitacao.id )}}"><strong>Solicitação #{{ solicitacao.id }}</strong></a>
        </div>
        <h5 class="article-content"><strong>Autor:</strong> {{ solicitacao.autor }}</h5>
        <h5 class="article-content"><strong>Status:</strong> {{ solicitacao.status.value }}</h5>
    </div>
</article>
{% endfor %}
{% endblock conteudo %}