<!-- Página para visualizar um equipamento com mais detalhes -->
{% extends "layout.html" %}
{% block conteudo %}
{% if equipamento.status.name != 'PENDENTE' %}
<div class="alert alert-info" role="alert" id="alert-message">
    <button type="button" class="close" data-dismiss="alert">
    <span>&times;</span>
    </button>
    {% if equipamento.status.name == 'ABERTO' %}
    Este equipamento está disponível para ser solicitado.
    {% elif equipamento.status.name == 'CONFIRMADO' %}
    Este equipamento está confirmado para uma solicitação.
    {% elif equipamento.status.name == 'EMUSO' %}
    Este equipamento está em uso.
    {% elif equipamento.status.name == 'DESABILITADO' or equipamento.status.name == 'EMMANUTENCAO' %}
    Este equipamento está indisponível para ser solicitado.
    {% endif %}
</div>
{% else %}
<div class="alert alert-danger" role="alert" id="alert-message">
    <button type="button" class="close" data-dismiss="alert">
    <span>&times;</span>
    </button>
    Este equipamento está em uma solicitação com a devolução atrasada.
</div>
{% endif %}
<div class="card border-primary mb-3">
    <h4 class="card-header text-primary border-primary">
        <a><strong>Equipamento #{{ equipamento.id }}</strong></a>
    </h4>
    <div class="card-body">
        <p class="card-text"><strong>Patrimônio:</strong> {{ equipamento.patrimonio }}</p>
        <p class="card-text"><strong>Descrição:</strong> {{ equipamento.descricao }}</p>
        {% if equipamento.motivo_indisponibilidade %}
            <h5 class="card-text"><strong>Motivo da Indisponibilidade:</strong> {{ equipamento.motivo_indisponibilidade }}</h5>
        {% endif %}
        <p class="card-text"><strong>Data de Cadastro:</strong> {{ equipamento.data_cadastro.strftime('%d/%m/%Y %H:%M:%S') }}</p>
        {% if equipamento.data_atualizacao %}
        <p class="card-text"><strong>Última Atualização:</strong> {{ equipamento.data_atualizacao.strftime('%d/%m/%Y %H:%M:%S') }}</p>
        {% endif %}
    </div>
    <div class="card-footer text-muted">
        <div class="row">
            <div class="col-md-6">
                <a class=""><strong>Tipo:</strong> {{ equipamento.tipo_eqp.nome }}</a>
            </div>
            <div class="col-md-6">
                <a class=""><strong>Status:</strong> {{ equipamento.status.value }}</a>
            </div>
        </div>
    </div>
</div>
<h5 class="card-text text-center"><strong>Últimas Solicitações:</strong></h5>
<div class="card-group">
{% for solicitacao in solicitacoes %}
<div class="card border-primary">
    <div class="card-body">
        <div class="article-metadata mb-3">
            <a class="mr-2" href="{{ url_for('solicitacoes.solicitacao', solicitacao_id=solicitacao.id )}}"><strong>Solicitação #{{ solicitacao.id }}</strong></a>
        </div>
        <p class="card-text"><strong>Autor:</strong> {{ solicitacao.autor }}</p>
        <p class="card-text"><strong>Status:</strong> {{ solicitacao.status.value }}</p>
    </div>
</div>
{% endfor %}
</div>
{% endblock conteudo %}