{% extends "layout.html" %}
{% from "formhelper.html" import render_field %}
{% block conteudo %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ legend }}</legend>
            {{ render_field(form.patrimonio) }}
            {{ render_field(form.descricao) }}
            {{ render_field(form.tipo_eqp) }}
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
            <a class="btn btn-outline-secondary" href="{{ url_for('principal.inicio', tab=3) }}"><i class="fas fa-arrow-left"></i> Voltar</a>
        </div>
    </form>
</div>
{% endblock conteudo %}
