<!-- Tabela para rederização de Equipamentos -->
<table id="table-equipamentos" class="table display dt-responsive nowrap table-hover table-responsive-sm" style="width:100%">
    <thead>
    <tr class="bg-primary text-light">
        <th scope="col">#</th>
        <th scope="col">Data de Cadastro</th>
        <th scope="col">Patrimônio</th>
        <th scope="col">Tipo</th>
        <th scope="col">Status</th>
        <th scope="col">Ações</th>
    </tr>
    </thead>
    <tbody>
    {% for equipamento in equipamentos %}
    {% if equipamento.status == 'Solicitado' %}
    <tr class="table-success text-success">
    {% elif equipamento.status == 'Em Atraso' %}
    <tr class="table-danger text-danger">
    {% elif equipamento.status == 'Em Uso' %}
    <tr class="table-info text-info">
    {% elif equipamento.status == 'Debilitado' or equipamento.status == 'Em Manutenção' %}
    <tr class="text-secondary">
    {% else %}
    <tr>
    {% endif %}
        <td>{{ equipamento.id }}</td>
        <td>{{ equipamento.data_cadastro.strftime('%d/%m/%Y %H:%M:%S') }}</td>
        <td>{{ equipamento.patrimonio }}</td>
        <td>{{ equipamento.tipo_eqp.nome }}</td>
        <td>{{ equipamento.status }}</td>
        <td>
            <a class="btn-sm btn-outline-info" href="#" data-toggle="modal" data-target="#visualizarEquipamento{{ equipamento.id }}"><i class="fas fa-search"></i></a>
            <a class="btn-sm btn-outline-secondary" href="{{ url_for('equipamentos.atualiza_equipamento', eqp_id=equipamento.id) }}" alt="Atualizar"><i class="fas fa-edit"></i></a>
            <a class="btn-sm btn-outline-danger" href="#" data-toggle="modal" data-target="#excluirEquipamento{{ equipamento.id }}"><i class="fas fa-trash"></i></a>
        </td>
    </tr>
    <!-- Modal -->
    {% include 'principal/modal/visualizar_equipamento.html' %}
    {% include 'principal/modal/excluir_equipamento.html' %}
    {% endfor %}
    </tbody>
</table>