<!-- Tabela para rederização de Equipamentos -->
<table id="table-equipamentos" class="table display dt-responsive nowrap table-hover table-responsive-md" style="width:100%;height:100%">
    <thead>
    <!-- Colunas da Tabela -->
    <tr class="bg-primary text-light">
        <th class="align-middle">#</th>
        <th class="align-middle">Data de Cadastro</th>
        <th class="align-middle">Patrimônio</th>
        <th class="align-middle">Tipo</th>
        <th class="align-middle">Status</th>
        <th class="align-middle">Ações</th>
    </tr>
    </thead>
    <tbody>
    <!-- Cria uma nova linha pra cada registro de equipamento ativo -->
    {% for equipamento in equipamentos %}
    <!-- Muda a cor da linha e texto de acordo com o status -->
    {% if equipamento.status == 'Solicitado' %}
        <tr class="table-success text-success">
    {% elif equipamento.status == 'Em Atraso' %}
        <tr class="table-danger text-danger">
    {% elif equipamento.status == 'Em Uso' %}
        <tr class="table-info text-info">
    {% elif equipamento.status == 'Indisponível' or equipamento.status == 'Em Manutenção' %}
        <tr class="text-secondary">
    {% else %}
        <tr>
    {% endif %}
        <!-- Linhas da Tabela -->
        <td class="align-middle">{{ equipamento.id }}</td>
        <td class="align-middle">{{ equipamento.data_cadastro.strftime('%d/%m/%Y %H:%M:%S') }}</td>
        <td class="align-middle">{{ equipamento.patrimonio }}</td>
        <td class="align-middle">{{ equipamento.tipo_eqp.nome }}</td>
        <td class="align-middle">{{ equipamento.status }}</td>
        <td class="align-middle">
            <!-- Botões de Ação-->
            <a class="btn-lg btn-outline-info" href="#" data-toggle="modal" data-target="#visualizarEquipamento{{ equipamento.id }}"><i class="fas fa-search"></i></a>
            <a class="btn-lg btn-outline-secondary" href="{{ url_for('equipamentos.atualiza_equipamento', eqp_id=equipamento.id) }}"><i class="fas fa-edit"></i></a>
            {% if equipamento.status == 'Disponível' %}
            <a class="btn-lg btn-outline-warning" href="#" data-toggle="modal" data-target="#indisponibilizarEquipamento{{ equipamento.id }}"><i class="fas fa-notes-medical"></i></a>
            {% endif %}
            {% if equipamento.status == 'Indisponível' or equipamento.status == 'Em Manutenção' %}
            <a class="btn-lg btn-outline-success" href="#" data-toggle="modal" data-target="#disponibilizarEquipamento{{ equipamento.id }}"><i class="fas fa-clipboard-check"></i></a>
            {% endif %}
            <a class="btn-lg btn-outline-danger" href="#" data-toggle="modal" data-target="#excluirEquipamento{{ equipamento.id }}"><i class="fas fa-trash"></i></a>
        </td>
    </tr>
    <!-- Modals Inclusos -->
    {% include 'principal/modal/visualizar_equipamento.html' %}
    {% include 'principal/modal/disponibilizar_equipamento.html' %}
    {% include 'principal/modal/indisponibilizar_equipamento.html' %}
    {% include 'principal/modal/excluir_equipamento.html' %}
    {% endfor %}
    </tbody>
</table>