<!-- Tabela para rederização de Salas -->
<table id="table-salas" class="table display dt-responsive table-hover" style="width:100%;height:100%">
    <thead>
    <!-- Colunas da Tabela -->
    <tr class="bg-primary text-light">
        <th class="align-middle">#</th>
        <th class="align-middle">Data de Cadastro</th>
        <th class="align-middle">Número</th>
        <th class="align-middle">Setor</th>
        <th class="align-middle">Status</th>
        <th class="align-middle">Ações</th>
    </tr>
    </thead>
    <tbody>
    {% for sala in salas %}
    <!-- Muda a cor da linha e texto de acordo com o status -->
    {% if sala.status.name == 'SOLICITADO' %}
        <tr class="table-success">
    {% elif sala.status.name == 'PENDENTE' %}
        <tr class="table-danger">
    {% elif sala.status.name == 'EMUSO' %}
        <tr class="table-info">
    {% elif sala.status.name == 'DESABILITADO' or sala.status.name == 'EMMANUTENCAO' %}
        <tr class="text-secondary">
    {% else %}
        <tr>
    {% endif %}
        <!-- Linhas da Tabela -->
        <td class="align-middle">{{ sala.id }}</td>
        <td class="align-middle">{{ sala.data_cadastro.strftime('%d/%m/%Y %H:%M:%S') }}</td>
        <td class="align-middle">{{ sala.numero }}</td>
        <td class="align-middle">{{ sala.setor.name }}</td>
        <td class="align-middle">{{ sala.status.value }}</td>
        <td class="align-middle">
            <!-- Botões de Ação-->
            <a class="btn-lg btn-outline-info" href="#" data-toggle="modal" data-target="#visualizarSala{{ sala.id }}"><i class="fas fa-search"></i></a>
            <a class="btn-lg btn-outline-secondary" href="{{ url_for('salas.atualiza_sala', sala_id=sala.id) }}"><i class="fas fa-edit"></i></a>
            {% if sala.status.name == 'ABERTO' %}
            <a class="btn-lg btn-outline-warning" href="#" data-toggle="modal" data-target="#indisponibilizarSala{{ sala.id }}"><i class="fas fa-notes-medical"></i></a>
            {% endif %}
            {% if sala.status.name == 'DESABILITADO' or sala.status.name == 'EMMANUTENCAO' %}
            <a class="btn-lg btn-outline-success" href="#" data-toggle="modal" data-target="#disponibilizarSala{{ sala.id }}"><i class="fas fa-clipboard-check"></i></a>
            {% endif %}
            <a class="btn-lg btn-outline-danger" href="#" data-toggle="modal" data-target="#excluirSala{{ sala.id }}"><i class="fas fa-trash"></i></a>
        </td>
    </tr>
    <!-- Modals Inclusos -->
    {% include 'principal/modal/visualizar_sala.html' %}
    {% include 'principal/modal/disponibilizar_sala.html' %}
    {% include 'principal/modal/indisponibilizar_sala.html' %}
    {% include 'principal/modal/excluir_sala.html' %}
    {% endfor %}
    </tbody>
</table>