<!-- Tabela para rederização de Salas -->
<table id="table-salas" class="table display table-sm table-hover table-responsive-sm" style="width:100%">
    <thead class="thead-light">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Data de Cadastro</th>
        <th scope="col">Número</th>
        <th scope="col">Setor</th>
        <th scope="col">Qtd. de Alunos</th>
        <th scope="col">Status</th>
        <th scope="col">Ações</th>
    </tr>
    </thead>
    <tbody>
    {% for sala in salas %}
    {% if sala.status == 'Solicitada' %}
    <tr class="table-success text-success">
    {% elif sala.status == 'Em Atraso' %}
    <tr class="table-danger text-danger">
    {% elif sala.status == 'Em Uso' %}
    <tr class="table-info text-info">
    {% elif sala.status == 'Debilitada' or sala.status == 'Em Reforma' %}
    <tr class="text-secondary">
    {% else %}
    <tr>
    {% endif %}
        <td>{{ sala.id }}</td>
        <td>{{ sala.data_cadastro.strftime('%d-%m-%Y %H:%M:%S') }}</td>
        <td>{{ sala.numero }}</td>
        <td>{{ sala.setor }}</td>
        <td>{{ sala.qtd_aluno }}</td>
        <td>{{ sala.status }}</td>
        <td>
        <a class="btn-sm btn-outline-info" href="#" data-toggle="modal" data-target="#visualizarSala{{ sala.id }}"><i class="fas fa-search"></i></a>
        <a class="btn-sm btn-outline-secondary" href="{{ url_for('salas.atualiza_sala', sala_id=sala.id) }}"><i class="fas fa-edit"></i></a>
        <a class="btn-sm btn-outline-danger" href="#" data-toggle="modal" data-target="#excluirSala{{ sala.id }}"><i class="fas fa-trash"></i></a>
        </td>
    </tr>
    <!-- Modal -->
    {% include 'principal/modal/visualizar_sala.html' %}
    {% include 'principal/modal/excluir_sala.html' %}
    {% endfor %}
    </tbody>
</table>