<!-- Tabela para rederização de Solicitações -->
<table id="table-solicitacoes" class="table display table-sm table-hover table-responsive-sm" style="width:100%">
    <thead>
    <tr class="bg-primary text-light">
        <th scope="col">#</th>
        <th scope="col">Data de Abertura</th>
        <th scope="col">Tipo</th>
        <th scope="col">Turno</th>
        <th scope="col">Autor</th>
        <th scope="col">Status</th>
        <th scope="col">Ações</th>
    </tr>
    </thead>
    <tbody>
    {% for solicitacao in solicitacoes %}
    {% if current_user == solicitacao.autor or current_user.admin == True %}
        {% if solicitacao.status == 'Em Aberto' %}
        <tr class="table-secondary">
        {% elif solicitacao.status == 'Em Atraso' %}
        <tr class="table-danger text-danger">
        {% elif solicitacao.status == 'Em Espera' %}
        <tr class="table-warning text-warning">
        {% elif solicitacao.status == 'Confirmada' %}
        <tr class="table-success text-success">
        {% elif solicitacao.status == 'Em Uso' %}
        <tr class="table-info text-info">
        {% elif solicitacao.status == 'Cancelada' or solicitacao.status == 'Finalizada' %}
        <tr class="text-secondary">
        {% else %}
        <tr>
        {% endif %}
            <td>{{ solicitacao.id }}</td>
            <td>{{ solicitacao.data_abertura.strftime('%d/%m/%Y %H:%M:%S') }}</td>
            <td>{{ solicitacao.tipo }}</td>
            <td>{{ solicitacao.turno }}</td>
            <td>{{ solicitacao.autor.nome }}</td>
            <td>{{ solicitacao.status }}</td>
            <td>
                <a class="btn-sm btn-outline-info" href="#" data-toggle="modal" data-target="#visualizarSolicitacao{{ solicitacao.id }}"><i class="fas fa-search"></i></a> 
                {% if current_user.admin == True %}
                    {% if solicitacao.status == 'Em Aberto' or solicitacao.status == 'Em Espera' %}
                        <a class="btn-sm btn-outline-success" href="{{ url_for('solicitacoes.confirma_solicitacao', solicitacao_id=solicitacao.id) }}"><i class="fas fa-check-square"></i></a>
                    {% endif %}
                    {% if solicitacao.status == 'Confirmada' %}
                        <a class="btn-sm btn-outline-primary" href="#" data-toggle="modal" data-target="#entregarSolicitacao{{ solicitacao.id }}"><i class="fas fa-upload"></i></a>
                    {% endif %}
                    {% if solicitacao.status == 'Em Uso' or solicitacao.status == 'Em Atraso' %}
                        <a class="btn-sm btn-outline-primary" href="#" data-toggle="modal" data-target="#receberSolicitacao{{ solicitacao.id }}"><i class="fas fa-download"></i></a>
                    {% endif %}
                {% endif %}
                {% if current_user == solicitacao.autor or current_user.admin == True %}
                    {% if solicitacao.status == 'Em Aberto' or solicitacao.status == 'Confirmada' %}
                        <a class="btn-sm btn-outline-warning" href="#" data-toggle="modal" data-target="#cancelarSolicitacao{{ solicitacao.id }}"><i class="fas fa-window-close"></i></a>
                    {% endif %}
                {% endif %}
                {% if current_user.admin == True %}
                    <a class="btn-sm btn-outline-danger" href="#" data-toggle="modal" data-target="#excluirSolicitacao{{ solicitacao.id }}"><i class="fas fa-trash"></i></a>
                {% endif %}
            </td>
        </tr>
        <!-- Modal -->
        {% include 'principal/modal/visualizar_solicitacao.html' %}
        {% include 'principal/modal/entregar_solicitacao.html' %}
        {% include 'principal/modal/receber_solicitacao.html' %}
        {% include 'principal/modal/cancelar_solicitacao.html' %}
        {% include 'principal/modal/excluir_solicitacao.html' %}
    {% endif %}
    {% endfor %}
    </tbody>
</table>

<script>
$(document).ready(function() {
    // Configuração da Tabela do DataTables
    
} );
</script>