<!-- Tabela para rederização de Solicitações -->
<table id="table-solicitacoes" class="table stripe order-column dt-responsive nowrap table-hover" style="width:100%">
    <thead>
    <!-- Colunas da Tabela -->
    <tr class="bg-primary text-light">
        <th class="align-middle"></th>
        <th class="align-middle">#</th>
        <th class="align-middle">Data de Abertura</th>
        <th class="align-middle">Tipo</th>
        <th class="align-middle">Turno</th>
        <th class="align-middle">Autor</th>
        <th class="align-middle">Status</th>
        <th class="align-middle">Ações</th>
    </tr>
    </thead>
    <tbody>
    <!-- Cria uma nova linha pra cada registro de solicitação ativa -->
    {% for solicitacao in solicitacoes %}
    <!-- Exibe os registros somente para o autor ou para os admins-->
    {% if current_user == solicitacao.autor or current_user.tipo.name == 'ADMIN' %}
        <!-- Muda a cor da linha e texto de acordo com o status -->
        {% if solicitacao.status.name == 'ABERTO' %}
            <tr class="table-secondary font-weight-bold">
        {% elif solicitacao.status.name == 'PENDENTE' %}
            <tr class="table-danger font-weight-bold">
        {% elif solicitacao.status.name == 'SOLICITADO' %}
            <tr class="table-warning font-weight-bold">
        {% elif solicitacao.status.name == 'CONFIRMADO' %}
            <tr class="table-success font-weight-bold">
        {% elif solicitacao.status.name == 'EMUSO' %}
            <tr class="table-info font-weight-bold">
        {% elif solicitacao.status.name == 'CANCELADO' or solicitacao.status.name == 'FECHADO' %}
            <tr class="">
        {% else %}
            <tr>
        {% endif %}
            <!-- Linhas da Tabela -->
            <td class="align-middle"></td>
            <td class="align-middle">{{ solicitacao.id }}</td>
            <td class="align-middle">{{ solicitacao.data_abertura.strftime('%d/%m/%Y %H:%M:%S') }}</td>
            <!-- Nome do Tipo de Solicitação (Equipamento/Sala) -->
            {% if solicitacao.tipo == 'EQUIPAMENTO' %}
                <td class="align-middle">Equipamento</td>
            {% elif solicitacao.tipo == 'SALA'%}
                <td class="align-middle">Sala</td>
            {% endif %}
            <td class="align-middle">{{ solicitacao.turno.name }}</td>
            <td class="align-middle">{{ solicitacao.autor.nome }}</td>
            <td class="align-middle">{{ solicitacao.status.value }}</td>
            <td class="align-middle">
                <!-- Botões de Ação-->
                <!-- A visibilidade varia com o status e usuário -->
                <a class="btn-lg btn-outline-info" href="#" data-toggle="modal" data-target="#visualizarSolicitacao{{ solicitacao.id }}"><i class="fas fa-search"></i></a> 
                {% if current_user.tipo.name == 'ADMIN' %}
                    {% if solicitacao.status.name == 'ABERTO' or solicitacao.status.name == 'SOLICITADO' %}
                        <a class="btn-lg btn-outline-success" href="{{url_for('solicitacoes.confirma_solicitacao', solicitacao_id=solicitacao.id)}}"><i class="fas fa-check-square"></i></a>
                    {% endif %}
                    {% if solicitacao.status.name == 'CONFIRMADO' %}
                        <a class="btn-lg btn-outline-primary" href="#" data-toggle="modal" data-target="#entregarSolicitacao{{ solicitacao.id }}"><i class="fas fa-upload"></i></a>
                    {% endif %}
                    {% if solicitacao.status.name == 'EMUSO' or solicitacao.status.name == 'PENDENTE' %}
                        <a class="btn-lg btn-outline-primary" href="#" data-toggle="modal" data-target="#receberSolicitacao{{ solicitacao.id }}"><i class="fas fa-download"></i></a>
                    {% endif %}
                {% endif %}
                {% if current_user == solicitacao.autor or current_user.tipo.name == 'ADMIN' %}
                    {% if solicitacao.status.name == 'ABERTO' or solicitacao.status.name == 'CONFIRMADO' %}
                        <a class="btn-lg btn-outline-warning" href="#" data-toggle="modal" data-target="#cancelarSolicitacao{{ solicitacao.id }}"><i class="fas fa-window-close"></i></a>
                    {% endif %}
                {% endif %}
                {% if current_user.tipo.name == 'ADMIN' %}
                    <a class="btn-lg btn-outline-danger" href="#" data-toggle="modal" data-target="#excluirSolicitacao{{ solicitacao.id }}"><i class="fas fa-trash"></i></a>
                {% endif %}
            </td>
        </tr>
        <!-- Modals Inclusos -->
        {% include 'principal/modal/visualizar_solicitacao.html' %}
        {% include 'principal/modal/entregar_solicitacao.html' %}
        {% include 'principal/modal/receber_solicitacao.html' %}
        {% include 'principal/modal/cancelar_solicitacao.html' %}
        {% include 'principal/modal/excluir_solicitacao.html' %}
    {% endif %}
    {% endfor %}
    </tbody>
</table>