{% extends "layout.html" %}
{% block home %}
      <div class="content-section">
        <nav class="pb-3">
          <div class="nav nav-pills flex-column flex-sm-row" id="pills-tab" role="tablist">
            <a class="nav-item nav-link active" id="pills-1-tab" data-toggle="pill" href="#pills-1" role="tab">Requisições</a>
            <a class="nav-item nav-link" id="pills-2-tab" data-toggle="pill" href="#pills-2" role="tab" aria-controls="pills-2" aria-selected="true">Equipamentos</a>
            <a class="nav-item nav-link" id="pills-3-tab" data-toggle="pill" href="#pills-3" role="tab" aria-controls="pills-3" aria-selected="false">Salas</a>
            <a class="nav-item nav-link" id="pills-4-tab" data-toggle="pill" href="#pills-4" role="tab" aria-controls="pills-4" aria-selected="false">Usuários</a>
            <div class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-plus-circle"></i>&nbsp;Novo Registro
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{{ url_for('posts.new_post') }}" data-toggle="modal" data-target="#newPost">Requisição</a>
                <a class="dropdown-item disabled" href="#">Equipamento</a>
                <a class="dropdown-item disabled" href="#">Sala</a>
                <a class="dropdown-item disabled" href="#">Usuário</a>
                <!-- 
                <div class="dropdown-divider"></div>
                <a class="dropdown-item disabled" href="#">Tipo de Equipamento</a>
                <a class="dropdown-item disabled" href="#">Tipo de Acessório</a> 
                -->
              </div>
            </div>
          </div>
        </nav>
        <div class="tab-content flex-md-row" id="nav-tabContent">
          <div class="tab-pane fade show active" id="pills-1" role="tabpanel" aria-labelledby="pills-1-tab">
            <div class="row">
              <div class="col-md-12">
                {% with messages = get_flashed_messages(with_categories=true) %}
                  {% if messages %}
                    {% for category, message in messages %}
                      <div class="alert alert-{{ category }} alert-dismissable" role="alert">
                        <button type="button" class="close" data-dismiss="alert">
                          <span>x</span>
                        </button>
                        {{ message }}
                      </div>
                    {% endfor %}
                  {% endif %}
                {% endwith %}
                <table id="table" class="table display table-sm table-hover table-responsive-sm" style="width:100%">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col">Data & Hora</th>
                      <th scope="col">Título</th>
                      <th scope="col">Autor</th>
                      <th scope="col">Ações</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for post in posts.items %}
                    <tr>
                      <td>{{ post.id }}</td>
                      <td>{{ post.date_posted.strftime('%d-%m-%Y %H:%M:%S') }}</td>
                      <td><a href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a></td>
                      <td>{{ post.author.username }}</td>
                      <td>
                        {% if current_user == post.author %}
                        <a class="btn-sm btn-outline-info" href="{{ url_for('posts.update_post', post_id=post.id) }}" data-toggle="modal" data-target="#updatePost{{ post.id }}"><i class="fas fa-edit"></i>&nbsp;Atualizar</a>
                        <a class="btn-sm btn-outline-danger" href="{{ url_for('posts.delete_post', post_id=post.id) }}" data-toggle="modal" data-target="#deletePost{{ post.id }}"><i class="fas fa-trash"></i>&nbsp;Excluir</a>
                        {% endif %}
                      </td>
                    </tr>

                    <!-- Modal Excluir-->
                    <div class="modal fade" id="deletePost{{post.id}}" tabindex="-1" role="dialog">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="deletePostLabel">Excluir Registro</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</spans>
                            </button>
                          </div>
                          <div class="modal-body">
                            <p>Deseja mesmo excluir este registro?</p>
                            <p><strong>Atenção: Esta operação não pode ser desfeita.</strong></p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancelar</button>
                            <form action="{{ url_for('posts.delete_post', post_id=post.id) }}" method="POST">
                              <input class="btn btn-outline-danger" type="submit" value="Excluir">
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Modal Editar-->
                    <div class="modal fade" id="updatePost{{post.id}}" tabindex="-1" role="dialog">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="updatePostLabel">Atualizar Registro</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</spans>
                            </button>
                          </div>
                          <div class="modal-body">
                            <form method="POST" action="{{ url_for('posts.update_post', post_id=post.id) }}">
                              {{ form.hidden_tag() }}
                              <fieldset class="form-group">
                                  <div class="form-group">
                                      {{ form.title.label(class="form-control-label") }}
                                      {% if form.title.errors %}
                                          {{ form.title(class="form-control form-control-lg is-invalid") }}
                                          <div class="invalid-feedback">
                                              {% for error in form.title.errors %}
                                                  <span>{{ error }}</span>
                                              {% endfor %}
                                          </div>
                                      {% else %}
                                          {{ form.title(class="form-control form-control-lg", value=post.title) }}
                                      {% endif %}
                                  </div>
                                  <div class="form-group">
                                      {{ form.content.label(class="form-control-label") }}
                                      {% if form.content.errors %}
                                          {{ form.content(class="form-control form-control-lg is-invalid") }}
                                          <div class="invalid-feedback">
                                              {% for error in form.content.errors %}
                                                  <span>{{ error }}</span>
                                              {% endfor %}
                                          </div>
                                      {% else %}
                                        {% set f = form.content.process_data(post.content) %}
                                        {{ form.content(class="form-control form-control-lg") }}
                                      {% endif %}
                                  </div>
                              </fieldset>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancelar</button>
                            <div class="form-group pt-3">
                              {{ form.submit(class="btn btn-outline-info") }}
                            </div>  
                          </form>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Modal Inserir -->
                    <div class="modal fade" id="newPost" tabindex="-1" role="dialog">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="newPostLabel">Novo Post</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</spans>
                            </button>
                          </div>
                          <div class="modal-body">
                            <form method="POST" action="{{ url_for('posts.new_post') }}">
                              {{ form.hidden_tag() }}
                              <fieldset class="form-group">
                                  <div class="form-group">
                                      {{ form.title.label(class="form-control-label") }}
                                      {% if form.title.errors %}
                                          {{ form.title(class="form-control form-control-lg is-invalid") }}
                                          <div class="invalid-feedback">
                                              {% for error in form.title.errors %}
                                                  <span>{{ error }}</span>
                                              {% endfor %}
                                          </div>
                                      {% else %}
                                          {{ form.title(class="form-control form-control-lg") }}
                                      {% endif %}
                                  </div>
                                  <div class="form-group">
                                      {{ form.content.label(class="form-control-label") }}
                                      {% if form.content.errors %}
                                          {{ form.content(class="form-control form-control-lg is-invalid") }}
                                          <div class="invalid-feedback">
                                              {% for error in form.content.errors %}
                                                  <span>{{ error }}</span>
                                              {% endfor %}
                                          </div>
                                      {% else %}
                                        {% set f = form.content.process_data("") %}
                                        {{ form.content(class="form-control form-control-lg") }}
                                      {% endif %}
                                  </div>
                              </fieldset>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancelar</button>
                            <div class="form-group pt-3">
                              {{ form.submit(class="btn btn-outline-info") }}
                            </div>  
                          </form>
                          </div>
                        </div>
                      </div>
                    </div>

                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="pills-2" role="tabpanel" aria-labelledby="pills-2-tab">
            Aba Vazia
          </div>
          <div class="tab-pane fade" id="pills-3" role="tabpanel" aria-labelledby="pills-3-tab">
            Aba Vazia
          </div>
          <div class="tab-pane fade" id="pills-4" role="tabpanel" aria-labelledby="pills-4-tab">
            Aba Vazia
          </div>
        </div>
      </div>

      
{% endblock home %}
