<!-- Página para visualizar um equipamento com mais detalhes -->
{% extends "layout.html" %}
{% block detalhes %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata mb-3">
            <a class="mr-2" href="#"><strong>Status:</strong> {{ solicitacao.status }}</a>
            <a class="mr-2" href="#"><strong>Tipo:</strong> {{ solicitacao.tipo }}</a>
            <small class="text-muted"><strong>{{ solicitacao.data_abertura.strftime('%d/%m/%Y %H:%M:%S') }}</strong></small>
        </div>
        {% if solicitacao.sala %}
            <h5 class="article-title"><strong>Sala:</strong> {{ solicitacao.sala.numero }} - {{ solicitacao.sala.setor }}</h5>
        {% endif %}
        {% if solicitacao.tipo_eqp.nome %}
            <h5 class="article-content"><strong>Tipo de Equipamento:</strong> {{ solicitacao.tipo_eqp.nome }}</h5>
        {% endif %}
        {% if solicitacao.qtd_equipamento %}
            <h5 class="article-content"><strong>Quantidade Solicitada:</strong> {{ solicitacao.qtd_equipamento }}</h5>
        {% endif %}
        {% if solicitacao.equipamentos %}
            <h5 class="article-title"><strong>Equipamentos Solicitados:</strong></h5>
            {% for equipamento in solicitacao.equipamentos %}
                <h5 class="article-title"><strong>-</strong> {{ equipamento }}</h5>
            {% endfor %}
        {% endif %}
        {% if solicitacao.data_preferencial %}
            <h5 class="article-content pt-2"><strong>Data Preferencial:</strong> {{ solicitacao.data_preferencial.strftime('%d/%m/%Y %H:%M:%S') }}</h5>
        {% endif %}
        {% if solicitacao.data_entrega %}
            <h5 class="article-content"><strong>Data de Empréstimo:</strong> {{ solicitacao.data_entrega.strftime('%d/%m/%Y %H:%M:%S') }}</h5>
        {% endif %}
        {% if solicitacao.data_devolucao %}
            <h5 class="article-content"><strong>Data de Devolução:</strong> {{ solicitacao.data_devolucao.strftime('%d/%m/%Y %H:%M:%S') }}</h5>
        {% endif %}
        {% if solicitacao.data_cancelamento %}
            <h5 class="article-content"><strong>Data de Cancelamento:</strong> {{ solicitacao.data_cancelamento.strftime('%d/%m/%Y %H:%M:%S') }}</h5>
        {% endif %}
        {% if solicitacao.data_finalizacao %}
            <h5 class="article-content"><strong>Data de Finalização:</strong> {{ solicitacao.data_finalizacao.strftime('%d/%m/%Y %H:%M:%S') }}</h5>
        {% endif %}
    </div>
</article>
{% endblock detalhes %}