<!-- Página para visualizar um equipamento com mais detalhes -->
{% extends "layout.html" %}
{% block conteudo %}
{% if solicitacao.status.name != 'PENDENTE' %}
<div class="alert alert-info" role="alert" id="alert-message">
    <button type="button" class="close" data-dismiss="alert">
    <span>&times;</span>
    </button>
    {% if solicitacao.status.name == 'ABERTO' %}
    Esta solicitação ainda não foi confirmada.
    {% elif solicitacao.status.name == 'SOLICITADO' %}
    Esta solicitação está na lista de espera.
    {% elif solicitacao.status.name == 'CONFIRMADO' %}
    Esta solicitação foi confirmada. 
    {% elif solicitacao.status.name == 'EMUSO' %}
    Esta solicitação está em uso. 
    {% elif solicitacao.status.name == 'CANCELADO' %}
    Esta solicitação foi cancelada.
    {% elif solicitacao.status.name == 'FECHADO' %}
    Esta solicitação já foi finalizada.
    {% endif %}
</div>
{% else %}
<div class="alert alert-danger" role="alert" id="alert-message">
    <button type="button" class="close" data-dismiss="alert">
    <span>&times;</span>
    </button>
    Esta solicitação está com a devolução atrasada.
</div>
{% endif %}
<div class="card border-primary mb-3">
    <h4 class="card-header text-primary border-primary"><a><strong>Solicitação #{{ solicitacao.id }}</strong></a></h4>
    <div class="card-body">
        <p class="card-text"><strong>Data de Abertura:</strong> {{ solicitacao.data_abertura.strftime('%d/%m/%Y %H:%M:%S') }}</p>
        {% if solicitacao.tipo == 'EQUIPAMENTO' %}
        <p class="card-text"><strong>Tipo de Equipamento:</strong> {{ solicitacao.tipo_eqp.nome }}</p>
        {% elif solicitacao.tipo == 'SALA' %}
        <p class="card-text"><strong>Setor:</strong> {{ solicitacao.setor.name }}</p>
        {% endif %}
        <p class="card-text"><strong>Quantidade Solicitada:</strong> {{ solicitacao.quantidade }}</p>
        {% if solicitacao.turno %}
            <p class="card-text"><strong>Turno:</strong> {{ solicitacao.turno }}</p>
        {% endif %}
        {% if solicitacao.data_inicio_pref %}
            <p class="card-text"><strong>Data Inicio Preferencial:</strong> {{ solicitacao.data_inicio_pref.strftime('%d/%m/%Y') }}</p>
        {% endif %}
        {% if solicitacao.data_fim_pref %}
            <p class="card-text"><strong>Data Fim Preferencial:</strong> {{ solicitacao.data_fim_pref.strftime('%d/%m/%Y') }}</p>
        {% endif %}
        {% if solicitacao.data_entrega %}
            <p class="card-text"><strong>Data de Empréstimo:</strong> {{ solicitacao.data_entrega.strftime('%d/%m/%Y %H:%M:%S') }}</p>
        {% endif %}
        {% if solicitacao.data_devolucao %}
            <p class="card-text"><strong>Data de Devolução Prevista:</strong> {{ solicitacao.data_devolucao.strftime('%d/%m/%Y %H:%M:%S') }}</p>
        {% endif %}
        {% if tempo_restante and solicitacao.status.name == 'EMUSO' %}
            <p class="card-text"><strong>Tempo Restante:</strong> {{ tempo_restante }}</p>
        {% endif %}
        {% if solicitacao.data_cancelamento %}
            <p class="card-text"><strong>Data de Cancelamento:</strong> {{ solicitacao.data_cancelamento.strftime('%d/%m/%Y %H:%M:%S') }}</p>
        {% endif %}
        {% if solicitacao.data_finalizacao %}
            <p class="card-text"><strong>Data de Finalização:</strong> {{ solicitacao.data_finalizacao.strftime('%d/%m/%Y %H:%M:%S') }}</p>
        {% endif %}
    </div>
    <div class="card-footer text-muted">
        <div class="row">
            <div class="col-md-6">
                <a class=""><strong>Autor:</strong> {{ solicitacao.autor }}</a>
            </div>
            <div class="col-md-3">
                {% if solicitacao.tipo == 'EQUIPAMENTO' %}
                    <a class=""><strong>Tipo:</strong> Equipamento</a>
                {% elif solicitacao.tipo == 'SALA' %}
                    <a class=""><strong>Tipo:</strong> Sala</a>
                {% endif %}
            </div>
            <div class="col-md-3">
                <a class=""><strong>Status:</strong> {{ solicitacao.status.value }}</a>
            </div>
        </div>
    </div>
</div>
<div class="card-group">
{% if solicitacao.tipo == 'SALA' %}
    {% for sala in solicitacao.salas %}
    <div class="card border-primary mb-3">
        <div class="card-body">
            <div class="article-metadata mb-3">
                {% if current_user.tipo.name == 'ADMIN' %}
                <a class="mr-2" href="{{ url_for('salas.sala', sala_id=sala.id) }}"><strong>Sala Solicitada #{{ loop.index }}</strong></a>
                {% else %}
                <a class="mr-2" href="#"><strong>Sala Solicitada #{{ loop.index }}</strong></a>
                {% endif %}
            </div>
        <p class="card-text"><strong>Número:</strong> {{ sala.numero }}</p>
        <p class="card-text"><strong>Qtd. de Alunos:</strong> {{ sala.qtd_aluno }}</p>
        </div>
    </div>
    {% endfor %}
{% endif %}
{% if solicitacao.tipo == 'EQUIPAMENTO' %}
    {% for equipamento in solicitacao.equipamentos %}
    <div class="card border-primary mb-3">
        <div class="card-body">
            <div class="article-metadata mb-3">
                {% if current_user.tipo.name == 'ADMIN' %}
                <a class="mr-2" href="{{ url_for('equipamentos.equipamento', eqp_id=equipamento.id) }}"><strong>Equipamento Solicitado #{{ loop.index }}</strong></a>
                {% else %}
                <a class="mr-2" href="#"><strong>Equipamento Solicitado #{{ loop.index }}</strong></a>
                {% endif %}
            </div>
            <p class="card-text"><strong>Patrimônio:</strong> {{ equipamento.patrimonio }}</p>
            <p class="card-text"><strong>Descrição:</strong> {{ equipamento.descricao }}</p>
        </div>
    </div>
    {% endfor %}
{% endif %}
</div>
{% endblock conteudo %}