<!-- Modal para Cancelamento de Solicitação -->
<div class="modal fade" id="cancelarSolicitacao{{ solicitacao.id }}" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cancelarSolicitacaoLabel">Cancelar Solicitação</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</spans>
                </button>
            </div>
            <div class="modal-body">
                <h6>Deseja mesmo cancelar esta solicitação?</h6>
                <h6><strong>Atenção: Esta operação não pode ser desfeita.</strong></h6>
            </div>
            <div class="modal-footer">
                <form action="{{ url_for('solicitacoes.cancela_solicitacao', solicitacao_id=solicitacao.id) }}" method="POST">
                    <input class="btn btn-outline-warning" type="submit" value="Cancelar">
                </form>
            </div>
        </div>
    </div>
</div>