<!-- Modal para Exclusão de Solicitação -->
{% from "formhelper.html" import render_field, render_button %}
<div class="modal fade" id="confirmarSolicitacao{{ solicitacao.id }}" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="entregarSolicitacaoLabel">Confirmar Solicitação</h6>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</spans>
                </button>
            </div>
            <div class="modal-body">  
                <h6><strong>Autor:</strong> {{solicitacao.autor}}</h6> 
                <h6><strong>Data de Abertura: </strong>{{solicitacao.data_abertura.strftime('%d/%m/%Y %H:%M:%S')}}</h6>
                <h6><strong>Descrição: </strong>{{solicitacao.descricao}}</h6>
                </br>
                {% if solicitacao.tipo == 'EQUIPAMENTO' %}
                <h6><strong>Tipo:</strong> {{solicitacao.tipo_eqp}}</h6> 
                {% elif solicitacao.tipo == 'SALA' %}
                <h6><strong>Setor:</strong> {{solicitacao.setor}}</h6>
                {% endif %}
                <h6><strong>Qtd. Solicitada: </strong>{{solicitacao.quantidade}}</h6> 
                </br>
                <h6><strong>Turno: </strong>{{solicitacao.turno}}</h6> 
                <h6><strong>Data de Início Preferencial: </strong>{{solicitacao.data_inicio_pref.strftime('%d/%m/%Y')}}</h6>
                <h6><strong>Data de Fim Preferencial: </strong>{{solicitacao.data_fim_pref.strftime('%d/%m/%Y')}}</h6>
            </div>
            <div class="modal-footer">
                <form action="{{ url_for('solicitacoes.confirma_solicitacao', solicitacao_id=solicitacao.id) }}" method="POST">
                    <input class="btn btn-outline-success" type="submit" value="Confirmar">
                </form>
            </div>
        </div>
    </div>
</div>