<!-- Modal para Confirmação de Solicitação -->
<div class="modal fade" id="confirmarSolicitacao{{ solicitacao.id }}" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmarSolicitacaoLabel">Confirmar Solicitação</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</spans>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">{{ legend }}</legend>
                        <div class="form-group">
                            {{ form.autor.label(class="form-control-label") }}
                            {% if form.autor.errors %}
                                {{ form.autor(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.autor.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.autor(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.identificacao.label(class="form-control-label") }}
                            {% if form.identificacao.errors %}
                                {{ form.identificacao(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.identificacao.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.identificacao(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.data_abertura.label(class="form-control-label") }}
                            {% if form.data_abertura.errors %}
                                {{ form.data_abertura(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.data_abertura.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.data_abertura(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.turno.label(class="form-control-label") }}
                            {% if form.turno.errors %}
                                {{ form.turno(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.turno.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.turno(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        {% if solicitacao.tipo == 'Sala' %}
                        <div class="form-group">
                            {{ form.sala.label(class="form-control-label") }}
                            {% if form.sala.errors %}
                                {{ form.sala(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.sala.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.sala(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        {% elif solicitacao.tipo == 'Equipamento' %}
                        <div class="form-group">
                            {{ form.tipo_equipamento.label(class="form-control-label") }}
                            {% if form.tipo_equipamento.errors %}
                                {{ form.tipo_equipamento(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.tipo_equipamento.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.tipo_equipamento(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.qtd_disponivel.label(class="form-control-label") }}
                            {% if form.qtd_disponivel.errors %}
                                {{ form.qtd_disponivel(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.qtd_disponivel.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.qtd_disponivel(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        {% endif %}
                    </fieldset>
                    <div class="form-group">
                        {{ form.submit(class="btn btn-outline-info") }}
                        <a class="btn btn-outline-secondary" href="{{ url_for('principal.inicio') }}"><i class="fas fa-arrow-left"></i> Voltar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>