<!-- Modal para Exclusão de Solicitação -->
{% from "formhelper.html" import render_field, render_button %}
<div class="modal fade" id="entregarSolicitacao{{ solicitacao.id }}" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="entregarSolicitacaoLabel">Confirmar Empréstimo</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</spans>
                </button>
            </div>
            <div class="modal-body">
                <p>Insira a data de devolução prevista abaixo:</p>
                <form method="POST" action="{{ url_for('solicitacoes.entrega_solicitacao', solicitacao_id=solicitacao.id) }}">
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                    {{ render_field(form.data_devolucao) }}
                    </fieldset>
                <h6><strong>Data de Início Preferencial: </strong>{{solicitacao.data_inicio_pref}}</h6>
                <h6><strong>Data de Fim Preferencial: </strong>{{solicitacao.data_fim_pref}}</h6>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                {{ render_button(form.submit) }}
                </div>
                </form>
            </div>
        </div>
    </div>
</div>