<!-- Modal para Visualização de Posts -->
<div class="modal fade" id="visualizarPost{{ post.id }}" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="visualizarPostLabel">Visualizar Mensagem</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</spans>
                </button>
            </div>
            <div class="modal-body">
                <article class="media content-section">
                    <img class="rounded-circle article-img" src="{{ url_for('static', filename='img_perfil/' + post.autor.imagem_perfil) }}">
                    <div class="media-body">
                        <div class="article-metadata">
                            <a class="mr-2" href="{{ url_for('usuarios.posts_usuario', usuario_id=post.autor.id) }}"><strong>Autor:</strong> {{ post.autor.nome }}</a>
                            {% if post.destinatario %}
                            <a class="mr-2" href="{{ url_for('usuarios.posts_usuario', usuario_id=post.destinatario.id) }}"><strong>Destinatário:</strong> {{ post.destinatario.nome }}</a>
                            {% else %}
                            <a class="mr-2" href="#"><strong>Destinatário:</strong> Administradores</a>
                            {% endif %}
                            <small class="text-muted"><strong>{{ post.data_postado.strftime('%d/%m/%Y %H:%M:%S') }}</strong></small>
                        </div>
                        <h4 class="article-title"><strong>{{ post.titulo }}</strong></h4>
                        <p class="article-content">{{ post.conteudo }}</p>
                    </div>
                </article>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-outline-info" href="{{ url_for('posts.post', post_id=post.id) }}">Mais Detalhes</a>
            </div>
        </div>
    </div>
</div>