<!-- Modal para Visualização de Salas -->
<div class="modal fade" id="visualizarSala{{ sala.id }}" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="visualizarSalaLabel">Visualizar Sala</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</spans>
                </button>
            </div>
            <div class="modal-body">
                <article class="media content-section">
                    <div class="media-body">
                        <div class="article-metadata">
                            <a class="mr-2"><strong>Status:</strong> {{ sala.status.value }}</a>
                            <a class="mr-2"><strong>Qtd. de Alunos:</strong> {{ sala.qtd_aluno }}</a>
                            <small class="text-muted"><strong>{{ sala.data_cadastro.strftime('%d/%m/%Y %H:%M:%S') }}</strong></small>
                        </div>
                        <h4 class="article-title"><strong>Sala:</strong> {{ sala.numero }}</h4>
                        <p class="article-content"><strong> Setor:</strong> {{ sala.setor }}</p>
                        {% if sala.motivo_indisponibilidade %}
                        <p class="article-content pt-2"><strong>Motivo da Indisponibilidade:</strong> {{ sala.motivo_indisponibilidade }}</p>
                        {% endif %}
                    </div>
                </article>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-outline-info" href="{{ url_for('salas.sala', sala_id=sala.id) }}">Mais Detalhes</a>
                <a type="button" class="btn btn-outline-info" href="{{ url_for('salas.relatorios', sala_id=sala.id) }}">Relatórios</a>
            </div>
        </div>
    </div>
</div>