<!-- Modal para Visualização de Equipamentos -->
<div class="modal fade" id="visualizarEquipamento{{ equipamento.id }}" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="visualizarEquipamentoLabel">Visualizar Equipamento</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</spans>
                </button>
            </div>
            <div class="modal-body">
                <article class="media content-section">
                    <div class="media-body">
                        <div class="article-metadata">
                            <a class="mr-2" href="#"><strong>Status:</strong> {{ equipamento.status }}</a>
                            <a class="mr-2" href="#"><strong>Tipo:</strong> {{ equipamento.tipo_eqp.nome }}</a>
                            <small class="text-muted"><strong>{{ equipamento.data_cadastro.strftime('%d/%m/%Y %H:%M:%S') }}</strong></small>
                        </div>
                        <h4 class="article-title"><strong>Patrimônio:</strong> {{ equipamento.patrimonio }}</h4>
                        <p class="article-content"><strong>Descrição:</strong> {{ equipamento.descricao }}</p>
                        {% if equipamento.motivo_indisponibilidade %}
                        <p class="article-content pt-2"><strong>Motivo da Indisponibilidade:</strong> {{ equipamento.motivo_indisponibilidade }}</p>
                        {% endif %}
                    </div>
                </article>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-outline-info" href="#">Histórico de Solicitações</a>
                <a type="button" class="btn btn-outline-info" href="{{ url_for('equipamentos.relatorios', eqp_id=equipamento.id) }}">Relatórios</a>
            </div>
        </div>
    </div>
</div>