<!-- Modal para Visualização de Usuários -->
<div class="modal fade" id="visualizarUsuario{{ usuario.id }}" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="visualizarUsuarioLabel">Visualizar Usuário</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</spans>
                </button>
            </div>
            <div class="modal-body">
                <article class="media content-section">
                    <img class="rounded-circle article-img" src="{{ url_for('static', filename='img_perfil/' + usuario.imagem_perfil) }}">
                    <div class="media-body">
                        <div class="article-metadata">
                            <a class="mr-2" href="#">{{ usuario.email }}</a>
                        </div>
                        <h4 class="article-title">{{ usuario.nome }}</h4>
                        <p class="article-content">{{ usuario.identificacao }}</p>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>