<!-- Modal para Visualização de Solicitações -->
<div class="modal fade" id="visualizarSolicitacao{{ solicitacao.id }}" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="visualizarSolicitacaoLabel">Visualizar Solicitação</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</spans>
                </button>
            </div>
            <div class="modal-body">
                <article class="media content-section">
                    <div class="media-body">
                        <div class="article-metadata">
                            <a class="mr-2"><strong>Status:</strong> {{ solicitacao.status.value }}</a>
                            {% if solicitacao.tipo == 'EQUIPAMENTO' %}
                            <a class="mr-2"><strong>Tipo:</strong> Equipamento</a>
                            {% elif solicitacao.tipo == 'SALA' %}
                            <a class="mr-2"><strong>Tipo:</strong> Sala</a>
                            {% endif %}
                            <small class="text-muted"><strong>{{ solicitacao.data_abertura.strftime('%d/%m/%Y %H:%M:%S') }}</strong></small>
                        </div>
                        {% if solicitacao.tipo == 'solicitacoes_salas' %}
                            {% if solicitacao.setor %}
                                <h6 class="article-title"><strong>Setor: </strong>{{ solicitacao.setor.name }}</h6>
                            {% endif %}
                            {% if solicitacao.salas %}
                                <h6 class="article-title"><strong>Salas Solicitadas:</strong></h6>
                                {% for sala in solicitacao.salas %}
                                    <h6 class="article-title"><strong>-</strong> {{ sala.numero }} </h6>  
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                        {% if solicitacao.tipo == 'EQUIPAMENTO' %}
                        <h6 class="article-content"><strong>Tipo de Equipamento:</strong> {{ solicitacao.tipo_eqp.nome }}</h6>
                        {% endif %}
                        {% if solicitacao.quantodade %}
                        <h6 class="article-content"><strong>Quantidade Solicitada:</strong> {{ solicitacao.quantidade }}</h6>
                        {% endif %}
                        {% if solicitacao.tipo == 'EQUIPAMENTO' %}
                            {% if solicitacao.equipamentos %}
                            <h6 class="article-title"><strong>Equipamentos Solicitados:</strong></h6>
                                {% for equipamento in solicitacao.equipamentos %}
                                    <h6 class="article-title"><strong>{{loop.index}}.</strong> {{ equipamento }}</h6>
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                        {% if solicitacao.turno %}
                        <h6 class="article-content pt-2"><strong>Turno:</strong> {{ solicitacao.turno.name }}</h6>
                        {% endif %}
                        {% if solicitacao.data_inicio_pref %}
                        <h6 class="article-content"><strong>Data de Início Preferencial:</strong> {{ solicitacao.data_inicio_pref.strftime('%d/%m/%y') }}</h6>
                        {% endif %}
                        {% if solicitacao.data_fim_pref %}
                        <h6 class="article-content"><strong>Data de Fim Preferencial:</strong> {{ solicitacao.data_fim_pref.strftime('%d/%m/%y') }}</h6>
                        {% endif %}
                        {% if solicitacao.data_entrega %}
                        <h6 class="article-content pt-2"><strong>Data de Empréstimo:</strong> {{ solicitacao.data_entrega.strftime('%d/%m/%Y %H:%M:%S') }}</h6>
                        {% endif %}
                        {% if solicitacao.data_devolucao %}
                        <h6 class="article-content"><strong>Data de Devolução Prevista:</strong> {{ solicitacao.data_devolucao.strftime('%d/%m/%Y %H:%M:%S') }}</h6>
                        {% endif %}
                        {% if solicitacao.data_cancelamento %}
                        <h6 class="article-content"><strong>Data de Cancelamento:</strong> {{ solicitacao.data_cancelamento.strftime('%d/%m/%Y %H:%M:%S') }}</h6>
                        {% endif %}
                        {% if solicitacao.data_finalizacao %}
                        <h6 class="article-content"><strong>Data de Finalização:</strong> {{ solicitacao.data_finalizacao.strftime('%d/%m/%Y %H:%M:%S') }}</h6>
                        {% endif %}
                    </div>
                </article>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-outline-info" href="{{ url_for('solicitacoes.solicitacao', solicitacao_id=solicitacao.id) }}">Mais Detalhes</a>
            </div>
        </div>
    </div>
</div>