<!-- Página Principal do Aplicativo -->
<!-- As principais funcionalidades são acessadas daqui -->
<!-- Partes do código foram separadas nas pastas 'modal' e 'tabela' -->
{% extends "layout.html" %}
{% block inicio %}
<div class="content-section">
  <!-- Navegação Principal -->
  <!-- A aba ativa depende do argumento 'tab' pela URL ou por outra função-->
  <nav class="pb-3 align-middle">
    <div class="nav nav-pills nav-justified flex-column flex-md-row align-middle" id="pills-tab" role="tablist">
      <a class="nav-item nav-link {% if tab == 1 %}active{% endif %}" id="pills-1-tab" data-toggle="pill" href="#pills-1" role="tab"><i class="fas fa-bookmark"></i>&nbsp;Solicitações</a>
      <a class="nav-item nav-link {% if tab == 2 %}active{% endif %}" id="pills-2-tab" data-toggle="pill" href="#pills-2" role="tab"><i class="fas fa-comment-dots"></i>&nbsp;Mensagens</a> 
      <!-- Menus Extras para Usuários Admin -->
      {% if current_user.tipo.name == 'ADMIN' %}
        <a class="nav-item nav-link {% if tab == 3 %}active{% endif %}" id="pills-3-tab" data-toggle="pill" href="#pills-3" role="tab"><i class="fas fa-laptop"></i>&nbsp;Equipamentos</a>
        <a class="nav-item nav-link {% if tab == 4 %}active{% endif %}" id="pills-4-tab" data-toggle="pill" href="#pills-4" role="tab"><i class="fas fa-chalkboard-teacher"></i>&nbsp;Salas</a>
        <a class="nav-item nav-link {% if tab == 5 %}active{% endif %}" id="pills-5-tab" data-toggle="pill" href="#pills-5" role="tab"><i class="fas fa-users"></i>&nbsp;Usuários</a>
      {% endif %}
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle bg-success text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
          <i class="fas fa-plus"></i>&nbsp;Novo
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#" data-toggle="modal" data-target="#tipoSolicitacao">Solicitação</a>
          <a class="dropdown-item" href="{{ url_for('posts.novo_post') }}">Mensagem</a>
          <!-- Funções Extras para Usuários Admin -->
          {% if current_user.tipo.name == 'ADMIN' %}
          <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ url_for('equipamentos.novo_equipamento') }}">Equipamento</a>
            <a class="dropdown-item" href="{{ url_for('salas.nova_sala') }}">Sala</a>
            <a class="dropdown-item" href="{{ url_for('usuarios.novo_usuario') }}">Usuário</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ url_for('equipamentos.novo_tipo_equipamento') }}">Tipo de Equipamento</a>
            <a class="dropdown-item" href="{{ url_for('solicitacoes.novo_turno') }}">Turno</a>
            <a class="dropdown-item" href="{{ url_for('salas.novo_setor') }}">Setor</a>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>
  <!-- Conteúdo de Cada Aba da Navegação -->
  <div class="tab-content flex-md-row" id="nav-tabContent">
    <div class="tab-pane fade {% if tab == 1 %}show active{% endif %}" id="pills-1" role="tabpanel">
      <div class="row">
        <div class="col-md-12">
          <!-- Tabela de Solicitações-->
          {% include 'principal/tabela/solicitacoes.html' %}
        </div>
      </div>
    </div>
    <div class="tab-pane fade {% if tab == 2 %}show active{% endif %}" id="pills-2" role="tabpanel">
      <div class="row">
        <div class="col-md-12">
          <!-- Tabela de Posts-->
          {% include 'principal/tabela/posts.html' %}
        </div>
      </div>
    </div>
    <div class="tab-pane fade {% if tab == 3 %}show active{% endif %}" id="pills-3" role="tabpanel">
      <div class="row">
        <div class="col-md-12">
          <!-- Tabela de Equipamentos-->
          {% include 'principal/tabela/equipamentos.html' %}
        </div>
      </div>
    </div>
    <div class="tab-pane fade {% if tab == 4 %}show active{% endif %}" id="pills-4" role="tabpanel">
      <div class="row">
        <div class="col-md-12">
          <!-- Tabela de Salas-->
          {% include 'principal/tabela/salas.html' %}
        </div>
      </div>
    </div>
    <div class="tab-pane fade {% if tab == 5 %}show active{% endif %}" id="pills-5" role="tabpanel">
      <div class="row">
        <div class="col-md-12">
          <!-- Tabela de Usuários-->
          {% include 'principal/tabela/usuarios.html' %}
        </div>
      </div>
    </div> 
  </div>
  <!-- Modal -->
  {% include 'principal/modal/tipo_solicitacao.html' %}
</div>  
{% endblock inicio %}