<!-- Macro para rendereizar os campos dos formulários -->
{% macro render_field(field) %}
<div class="form-group">
    <!-- Título do campo -->
    {{ field.label(class="form-control-label") }}
    {% if field.errors %}
        <!-- Exibe os erros de validação, caso ocorram -->
        {{ field(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
            {% for error in field.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
    {% else %}
        <!-- Exibe o campo normalmente -->
        {{ field(class="form-control form-control-lg") }}
    {% endif %}
</div>
{% endmacro %}

{% macro render_multiple(field) %}
<div class="form-group">
    <label> {{ field.label(class="form-control-label") }} </label>
    <select multiple class="form-control form-control-lg" data-allow-clear="1" style="width:100%">
        {% for choice in field.choices %}
        <option value="{{ choice[0] }}">{{ choice[1] }}</option>
        {% endfor %}
    </select>
    {% if field.errors %}
    {% for error in field.errors %}
    <div class="invalid-feedback">
        {% for error in field.errors %}
            <span>{{ error }}</span>
        {% endfor %}
    </div>  
    {% endfor %}
    {% endif %}      
</div>
{% endmacro %}

<!-- Macro para renderizar o botão de submit dos formulários -->
{% macro render_button(submit) %}
{{ submit(class="btn btn-outline-info") }}
{% endmacro %}