<!-- Layout base de todas as páginas do aplicativo -->
<!-- Metatags, folhas de estilo, scripts e blocos de conteúdo ficam aqui -->
<!DOCTYPE html>
<html>
<head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- CSS Principal e do Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">

    <!-- CSS do DataTables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.11.3/b-2.0.1/b-colvis-2.0.1/b-html5-2.0.1/b-print-2.0.1/cr-1.5.5/fh-3.2.0/r-2.2.9/rr-1.2.8/sp-1.4.0/sl-1.3.3/datatables.min.css"/>

    <!-- CSS do Select2 -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/select2.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/select2-bootstrap4.min.css') }}">

    <!-- CSS do Font Awesome -->
    <link rel="stylesheet" type="text/css" href="https://pro.fontawesome.com/releases/v5.15.0/css/all.css">

    <!-- FavIcon e Fonte Roboto -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
    
    <!-- Título da Página -->
    {% if title %}
        <title>UniGerência: {{ title }}</title>
    {% else %}
        <title>UniGerência</title>
    {% endif %}
</head>
<body>
    <header class="site-header">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
            <div class="container">
                <!-- Logo da Navbar -->
                <a class="navbar-brand mr-4" href="{{ url_for('principal.inicio') }}"><i class="fas fa-tasks"></i> UniGerência</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <!-- Lado Esquerdo da Navbar -->
                    <div class="navbar-nav mr-auto">
                        <a class="nav-item nav-link" href="{{ url_for('principal.inicio') }}"><i class="fas fa-home"></i>&nbsp;Início</a>
                        <a class="nav-item nav-link" href="{{ url_for('principal.sobre') }}"><i class="fas fa-file-alt"></i>&nbsp;Sobre</a>
                    </div>
                    <!-- Lado Direito da Navbar -->
                    <!-- Itens mudam de acordo com a autenticação do usuário-->
                    <div class="navbar-nav">
                    {% if current_user.is_authenticated %}
                        <a class="nav-item nav-link" href="{{ url_for('usuarios.perfil') }}"><i class="fas fa-user-circle"></i>&nbsp;Perfil</a>
                        <a class="nav-item nav-link" href="{{ url_for('usuarios.logout') }}"><i class="fas fa-sign-out-alt"></i>&nbsp;Sair</a>
                    {% else %}
                        <a class="nav-item nav-link" href="{{ url_for('usuarios.login') }}"><i class="fas fa-sign-in-alt"></i>&nbsp;Login</a>
                        <a class="nav-item nav-link" href="{{ url_for('usuarios.registrar') }}"><i class="fas fa-address-card"></i>&nbsp;Registre-se</a>
                    {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main role="main" class="container-fluid">
        <!-- Mensagens de Alerta -->
        <!-- Mensagens retornadas pelas funções flash são exibidas aqui -->
        <div class="row justify-content-center">
            <div class="col-md-7">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissable" role="alert" id="alert-message">
                        <button type="button" class="close" data-dismiss="alert">
                        <span>&times;</span>
                        </button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            {% endwith %}
            </div>
        </div>
        <!-- Blocos de Conteúdo -->
        <!-- Os outros templates são renderizados aqui -->
        <div class="row align-items-center justify-content-center">
            <div class="col-md-10 align-self-center">
            <!-- Bloco da página inicial e de páginas mais detalhadas -->
            {% block inicio %}{% endblock %}
            {% block detalhes %}{% endblock %}
            </div>
        </div>
        <div class="row align-items-center justify-content-center">
            <div class="col-md-7 align-self-center">
            <!-- Bloco de erros e das outras páginas de conteúdo -->
            {% block erro %}{% endblock %}
            {% block conteudo %}{% endblock %}
            </div>
        </div>
    </main>

    <!-- JavaScript do jQuery, Pooper.js e Bootstrap JS -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.slim.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <!-- JavaScript do DataTables -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.11.3/b-2.0.1/b-colvis-2.0.1/b-html5-2.0.1/b-print-2.0.1/cr-1.5.5/fh-3.2.0/r-2.2.9/rr-1.2.8/sp-1.4.0/sl-1.3.3/datatables.min.js"></script>
    
    <!-- JavaScript do Select2 -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/select2.min.js') }}"></script>

    <!-- Configuração de scripts para funcionalidades importantes -->
    <script>
    $(document).ready(function() {
        // Configuração da duração das mensagens de alerta
        // Permite que a mensagem se feche sozinha após um determinado tempo
        setTimeout(function() {
            $(".alert-dismissable").alert('close');
        }, 5000);  // 5 Segundos

        // Configuração do DataTables
        // Todas as tabelas da página inicial fazem uso dessa configuração
        $('table.display').DataTable({
            responsive: true,
            colReorder: true,
            // Quantidade de registros a exibir
            "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
            // Ordenação dos registros
            "order": [[ 0, "desc" ]],
            // Localização dos textos
            "language": {
                "emptyTable": "Nenhum registro encontrado",
                "info": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                "infoEmpty": "Mostrando 0 até 0 de 0 registros",
                "infoFiltered": "(Filtrados de _MAX_ registros)",
                "infoThousands": ".",
                "loadingRecords": "Carregando...",
                "processing": "Processando...",
                "zeroRecords": "Nenhum registro encontrado",
                "search": "Pesquisar",
                "lengthMenu": "Exibir _MENU_ resultados por página",
                "decimal": ",",
                "thousands": ".",
                "paginate": {
                    "next": "Próximo",
                    "previous": "Anterior",
                    "first": "Primeiro",
                    "last": "Último"
                },
            }
        });

        // Configuração dos campos que o usam o Select2
        // Os campos de seleção de sala/equipamento em solicitações fazem uso dele
        $('#sala').select2({
            allowClear: false,
            theme: "bootstrap4",
            "language": {
                "noResults": function(){
                    return "Nenhum resultado encontrado";
                }
            },
            "width": '100%'
        });
        $('#equipamentos').select2({
            placeholder: "Equipamentos disponíveis",
            allowClear: true,
            "language": {
                "noResults": function(){
                    return "Nenhum resultado encontrado";
                }
            },
            "width": '100%'
        });
    } );
    </script>
</body>
</html>
