<script>
    $(document).ready(function() {
        // Configuração da duração das mensagens de alerta
        // Permite que a mensagem se feche sozinha após um determinado tempo
        setTimeout(function() {
            $(".alert-dismissable").alert('close');
        }, 5000);  // 5 Segundos
        $('.toast').toast({delay: 5000});
        $('.toast').toast({animation: true});
        $('.toast').toast('show'); 
        // Configuração do DataTables
        // Todas as tabelas da página inicial fazem uso dessa configuração
        var table = $('#table-solicitacoes').DataTable({
            // Ajustes das colunas
            columnDefs: [ {
                orderable: false,
                className: 'select-checkbox',
                targets:   0
            } ],
            select: {
                style:    'os',
                selector: 'td:first-child'
            },
            columns: [
                {width: '3%'},
                {width: '6%'},
                {width: '12%'},
                {width: '13%'},
                {width: '13%'},
                {width: '15%'},
                {width: '10%'},
                {width: '11%'},
                {width: '100px'}
            ],
            // Propriedades da tabela
            responsive: true,
            colReorder: true,
            lengthChange: true,
            fixedHeader: true,
            autoWidth: false,
            stateSave: true,
            stateDuration: 60 * 60 * 24,
            "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
            "order": [[ 1, "desc" ]],
            dom: "<'row'<'col-md-12 col-lg-4'l><'col-md-12 col-lg-5'B><'col-md-12 col-lg-3'f>>" +
                 "<'row'<'col-md-12'tr>>" +
                 "<'row'<'col-md-12 col-lg-6'i><'col-md-12 col-lg-6'p>>",
            // Butões de funções
            buttons: [
                {
                    extend: 'excelHtml5',
                    text: 'Excel',
                    autoFilter: true,
                    exportOptions: {
                        columns: [1, 2, 3, 4, 5, 7]
                    }
                },
                {
                    extend: 'pdfHtml5',
                    orientation: 'portrait',
                    text: 'PDF',
                    customize: function (doc) {
                        doc.content[1].table.widths = 
                            Array(doc.content[1].table.body[0].length + 1).join('*').split('');
                    },
                    exportOptions: {
                        columns: [1, 2, 3, 4, 5, 7]
                    }
                },
                {
                    extend: 'print',
                    text: 'Imprimir',
                    exportOptions: {
                        columns: [1, 2, 3, 4, 5, 7]
                    }
                },
                {
                    extend: 'colvis',
                    text: 'Colunas'
                }, 
            ],
            // Localização dos textos
            "language": {
                "emptyTable": "Nenhum registro encontrado",
                "info": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                "infoEmpty": "Mostrando 0 até 0 de 0 registros",
                "infoFiltered": "(Filtrados de _MAX_ registros)",
                "infoThousands": ".",
                "loadingRecords": "Carregando...",
                "processing": "Processando...",
                "zeroRecords": "Nenhum registro encontrado",
                "search": "Pesquisar: ",
                "lengthMenu": "Exibir: _MENU_",
                "decimal": ",",
                "thousands": ".",
                "paginate": {
                    "next": "Próximo",
                    "previous": "Anterior",
                    "first": "Primeiro",
                    "last": "Último"
                },
                select: {
                    rows: {
                        _: "%d registros selecionados",
                        0: "Nenhum registro selecionado",
                        1: "1 registro selecionado"
                    }
                }
            }
        });
        var table = $('table.display').DataTable({
            // Ajustes das colunas
            columnDefs: [ {
                orderable: false,
                className: 'select-checkbox',
                targets:   0
            } ],
            select: {
                style:    'os',
                selector: 'td:first-child'
            },
            columns: [
                {width: '3%'},
                {width: '6%'},
                {width: '12%'},
                {width: '22%'},
                {width: '20%'},
                {width: '20%'},
                {width: '100px'}
            ], 
            // Propriedades da tabela
            responsive: true,
            colReorder: true,
            lengthChange: true,
            fixedHeader: true,
            autoWidth: false,
            stateSave: true,
            stateDuration: 60 * 60 * 24,
            "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
            "order": [[ 1, "desc" ]],
            dom: "<'row'<'col-md-12 col-lg-4'l><'col-md-12 col-lg-5'B><'col-md-12 col-lg-3'f>>" +
                 "<'row'<'col-md-12'tr>>" +
                 "<'row'<'col-md-12 col-lg-6'i><'col-md-12 col-lg-6'p>>",
            // Butões de funções
            buttons: [
                {
                    extend: 'excelHtml5',
                    text: 'Excel',
                    autoFilter: true,
                    exportOptions: {
                        columns: [1, 2, 3, 4, 5]
                    }
                },
                {
                    extend: 'pdfHtml5',
                    orientation: 'portrait',
                    text: 'PDF',
                    customize: function (doc) {
                        doc.content[1].table.widths = 
                            Array(doc.content[1].table.body[0].length + 1).join('*').split('');
                    },
                    exportOptions: {
                        columns: [1, 2, 3, 4, 5]
                    }
                },
                {
                    extend: 'print',
                    text: 'Imprimir',
                    exportOptions: {
                        columns: [1, 2, 3, 4, 5]
                    }
                },
                {
                    extend: 'colvis',
                    text: 'Colunas'
                }, 
            ],
            // Localização dos textos
            "language": {
                "emptyTable": "Nenhum registro encontrado",
                "info": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                "infoEmpty": "Mostrando 0 até 0 de 0 registros",
                "infoFiltered": "(Filtrados de _MAX_ registros)",
                "infoThousands": ".",
                "loadingRecords": "Carregando...",
                "processing": "Processando...",
                "zeroRecords": "Nenhum registro encontrado",
                "search": "Pesquisar: ",
                "lengthMenu": "Exibir: _MENU_",
                "decimal": ",",
                "thousands": ".",
                "paginate": {
                    "next": "Próximo",
                    "previous": "Anterior",
                    "first": "Primeiro",
                    "last": "Último"
                },
                select: {
                    rows: {
                        _: "%d registros selecionados",
                        0: "Nenhum registro selecionado",
                        1: "1 registro selecionado"
                    }
                }
            }
        });
        // Correção de responsividade das tabelas ao trocar de abas
        $('a[data-toggle="pill"]').on('shown.bs.tab', function(e){
            $.fn.dataTable.tables( {visible: true, api: true} )
            .responsive.recalc()
            .columns.adjust();
        });   
        // Configuração dos campos que o usam o Select2
        // Os campos de seleção de sala/equipamento em solicitações fazem uso dele
        $('#salas').select2({
            placeholder: "Salas Disponíveis",
            theme: "bootstrap",
            allowClear: false,
            "language": {
                "noResults": function(){
                    return "Nenhuma sala encontrada";
                }
            },
            "width": '100%'
        });
        $('#equipamentos').select2({
            placeholder: "Equipamentos Disponíveis",
            theme: "bootstrap",
            allowClear: false,
            "language": {
                "noResults": function(){
                    return "Nenhum equipamento encontrado";
                }
            },
            "width": '100%'
        });
        $('#equipamentos_modal').select2({
            placeholder: "Equipamentos Disponíveis",
            theme: "bootstrap",
            allowClear: false,
            dropdownParent: $("#entregarSolicitacaoEquip35"),
            "language": {
                "noResults": function(){
                    return "Nenhum equipamento encontrado";
                }
            },
            "width": '100%'
        });
    } );
</script>