<!-- Página com o formulário para inserir um novo relatório -->
{% extends "layout.html" %}
{% from "formhelper.html" import render_field, render_button %}
{% block conteudo %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ legend }}</legend>
            {{ render_field(form.tipo) }}
            {{ render_field(form.conteudo) }}
            {{ render_field(form.manutencao) }}
            {{ render_field(form.reforma) }}
            {{ render_field(form.detalhes) }}
        </fieldset>
        <div class="form-group">
            {{ render_button(form.submit) }}
            <a class="btn btn-outline-secondary" href="{{ url_for('salas.relatorios', sala_id=sala_id) }}"><i class="fas fa-arrow-left"></i> Voltar</a>
        </div>
    </form>
</div>
{% endblock conteudo %}
