<!-- Página para visualizar uma sala com mais detalhes -->
{% extends "layout.html" %}
{% block conteudo %}
{% if sala.status.name != 'PENDENTE' %}
<div class="alert alert-info" role="alert" id="alert-message">
    <button type="button" class="close" data-dismiss="alert">
    <span>&times;</span>
    </button>
    {% if sala.status.name == 'ABERTO' %}
    Esta sala está disponível para ser solicitada.
    {% elif sala.status.name == 'CONFIRMADO' %}
    Esta sala está confirmada para uma solicitação.
    {% elif sala.status.name == 'EMUSO' %}
    Esta sala está em uso.
    {% elif sala.status.name == 'DESABILITADO' or sala.status.name == 'EMMANUTENCAO' %}
    Esta sala está indisponível para ser solicitada.
    {% endif %}
</div>
{% else %}
<div class="alert alert-danger" role="alert" id="alert-message">
    <button type="button" class="close" data-dismiss="alert">
    <span>&times;</span>
    </button>
    Esta sala está em uma solicitação com a devolução atrasada.
</div>
{% endif %}
<div class="card border-primary mb-3">
    <h4 class="card-header text-primary border-primary">
        <a><strong>Sala #{{ sala.id }}</strong></a>
    </h4>
    <div class="card-body">
        <p class="card-text"><strong>Número:</strong> {{ sala.numero }}</p>
        <p class="card-text"><strong>Qtd. de Alunos:</strong> {{ sala.qtd_aluno }}</p>
        <p class="card-text"><strong>Data de Cadastro:</strong> {{ sala.data_cadastro.strftime('%d/%m/%Y %H:%M:%S') }}</p>
        {% if sala.data_atualizacao %}
        <p class="card-text"><strong>Última Atualização:</strong> {{ sala.data_atualizacao.strftime('%d/%m/%Y %H:%M:%S') }}</p>
        {% endif %}
        {% if sala.motivo_indisponibilidade %}
            <p class="card-text"><strong>Motivo da Indisponibilidade:</strong> {{ sala.motivo_indisponibilidade }}</p>
        {% endif %}
    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col-md-6">
                <a class=""><strong>Setor:</strong> {{ sala.setor.name }}</a>
            </div>
            <div class="col-md-6">
                <a class=""><strong>Status:</strong> {{ sala.status.value }}</a>
            </div>
        </div>
    </div>
</div>
<h5 class="card-text text-center"><strong>Últimas Solicitações:</strong></h5>
<div class="card-group">
{% for solicitacao in solicitacoes %}
<div class="card border-primary">
    <div class="card-body">
        <div class="article-metadata mb-3">
            <a class="mr-2" href="{{ url_for('solicitacoes.solicitacao', solicitacao_id=solicitacao.id )}}"><strong>Solicitação #{{ solicitacao.id }}</strong></a>
        </div>
        <p class="card-text"><strong>Autor:</strong> {{ solicitacao.autor }}</p>
        <p class="card-text"><strong>Status:</strong> {{ solicitacao.status.value }}</p>
    </div>
</div>
{% endfor %}
</div>
{% endblock conteudo %}